---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style>
    body {
      background-color: #3e3e3e !important;
    }
  </style>
  <body>
    <h1>Blog</h1>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>

    <p>Esse é o meu blog</p>
  </body>
</html>
